import init.otter-common.rc
import init.omap4.rc
import init.omap4430.usb.rc

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root

    export EXTERNAL_STORAGE /storage/sdcard0

    # Support legacy paths
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard

on fs
    # zRAM read only 1 page at a time
    write /proc/sys/vm/page-cluster 0

    mkdir /factory 0775 radio radio
    mount_all /fstab.omap4430
    swapon_all /fstab.omap4430

    # We chown/chmod /factory because mount is run as root + defaults
    chown radio radio /factory
    chmod 0775 /factory

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
